.wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.rate-label-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  width: 0;
  overflow-x: hidden;
  font-size: 0.6em;
  transition-timing-function: ease-in;
  transition-property: width;

  &.left {
    right: 100%;
    justify-content: flex-end;
  }

  &.right {
    left: 100%;
  }

  &.active {
    width: 1.4em;
  }
}

.rate-label {
  padding: 0 0.2em;
}

.shift-group {
  position: relative;

  &.left {
    right: 0;
    transition-property: right;

    &.active {
      right: 0.9em;
    }
  }

  &.right {
    left: 0;
    transition-property: left;

    &.active {
      left: 0.9em;
    }
  }
}
