.wrapper {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5em 25%;
  font-size: 1.2em;
  visibility: hidden;
  opacity: 0;
  transition-property: visibility, opacity;

  &.video {
    background-color: hsla(0, 0%, 20%, 0.7);
    backdrop-filter: blur(0.5em);
    box-shadow: 0 0 1em hsl(0, 0%, 35%);
  }

  &.visible {
    visibility: visible;
    opacity: 1;
  }
}

.buttons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

%positioned-buttons {
  position: absolute;
  display: flex;
}

.left-buttons {
  @extend %positioned-buttons;
  left: 0;
}

.right-buttons {
  @extend %positioned-buttons;
  right: 0;
}
